.paragrafo-centrato{
    text-align: center;
}

.testo-grigio{
    color: grey;
}

div a{
    color: grey;
}

.sfondo-grigio{
    background-color: #E6EEF0;
}

.sfondo-grigio-chiaro{
    background-color: #75818D;
}

.card{
    margin: auto;
    width: 400px;
}