<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h2>
                <p class="card-title paragrafo-centrato text-secondary">Recupera password</p>
            </h2>
            <br>
            <form>
                <div class="form-group">
                    <input type="email" id="email" name="email" #inputEmail="ngModel" [(ngModel)]="u.email" class="form-control sfondo-grigio" placeholder="Email" value="" required>
                </div>
                <div [hidden]="inputEmail.valid||inputEmail.pristine" class="alert alert-danger">
                    Email non valida
                </div>
                <div *ngIf="messaggioErrore" class="alert alert-danger" role="alert">
                    {{messaggioErrore}}
                </div>
                <div *ngIf="messaggioConferma" class="alert alert-success" role="alert">
                    {{messaggioConferma}}
                </div>
                <div *ngIf="messaggio" class="alert alert-primary" role="alert">
                    {{messaggio}}
                </div>
                <button type="button" [disabled]="!inputEmail.valid" class=" btn btn-lg btn-block
                    sfondo-grigio-chiaro" (click)="resettaPassword();" (submit)="resettaPassword();">Recupera Password</button>
            </form><br>
            <div class="paragrafo-centrato testo-grigio">
                Non hai ancora un account? <a routerLink="/registrazione">Registrati</a><br> Hai gia un account? <a routerLink="/login">Accedi</a>
            </div>
        </div>
    </div>
</div>