<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col-md-4">
            <div class="card border border-secondary altezza-card mt-3" style="width: 100%;">
                <div class="card-header text-center sfondo-grigio-chiaro testo-bianco testo-grassetto">
                    Gestione inserzioni
                </div>
                <ul class="list-group list-group-flush overflow-auto">
                    <li class="list-group-item" *ngFor="let l of libri">
                        <span *ngFor="let i of inserzioni">
                            <span *ngIf="i.libro==l.idLibro">
                                <span class="align-middle text-secondary">Libro: {{l.nome}}</span>
                        <button type="button" class="btn btn-secondary btn-sm float-right" (click)="setInserzioneSelezionata(i.idInserzione)" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#modificainserzione">Modifica
                                </button>
                        </span>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <button *ngIf="verificaFiltro()" type="button" class="btn btn-block btn-secondary btn-sm float-right" (click)="filtraInserzioni()" data-toggle="modal" data-target="#filtrareinserzioni">Filtra</button>
                        <button *ngIf="!verificaFiltro()" type="button" class="btn btn-block btn-danger btn-sm float-right" (click)="aggiornaDati()">Annulla
                            filtro</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center border border-secondary altezza-card mt-3" style="width: 100%;">
                <div class="card-header sfondo-grigio-chiaro testo-bianco testo-grassetto">
                    Aggiungi moderatore
                </div>
                <div class="card-body text-secondary">
                    Vuoi inserire un nuovo moderatore? Premi il bottone e inserisci i suoi dati. Ricordagli che la prima password è temporanea
                    <br><br><button type="button" class="btn btn-block btn-secondary btn-sm" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#inserimentomoderatore">Inserisci
                        moderatore</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border border-secondary altezza-card mt-3" style="width: 100%;">
                <div class="card-header text-center sfondo-grigio-chiaro testo-bianco testo-grassetto">
                    Cancellazione studenti
                </div>
                <ul class="list-group list-group-flush overflow-auto">
                    <li class="list-group-item" *ngFor="let u of utenti">
                        <span class="align-middle text-secondary">{{u.nome}} {{u.cognome}} {{u.username}}</span><button type="button" class="btn btn-secondary btn-sm float-right" (click)="eliminaStudente(u.idUser);">Elimina</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border border-secondary altezza-card mt-3" style="width: 100%;">
                <div class="card-header text-center sfondo-grigio-chiaro testo-bianco testo-grassetto">
                    Gestione statistiche
                </div>
                <ul class="list-group list-group-flush overflow-auto">
                    <li class="list-group-item">
                        <span class="align-middle text-secondary">Inserzioni attive</span><button type="button" class="btn btn-sm float-right" disabled>&nbsp;&nbsp;&nbsp;&nbsp;{{statistiche[0]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </li>
                    <li class="list-group-item">
                        <span class="align-middle text-secondary">Inserzioni vinte</span><button type="button" class="btn btn-sm float-right" disabled>&nbsp;&nbsp;&nbsp;&nbsp;{{statistiche[2]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </li>
                    <li class="list-group-item">
                        <span class="align-middle text-secondary">Inserzioni non vinte</span><button type="button" class="btn btn-sm float-right" disabled>&nbsp;&nbsp;&nbsp;&nbsp;{{statistiche[1]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center border border-secondary altezza-card mt-3" style="width: 100%;">
                <div class="card-header sfondo-grigio-chiaro testo-bianco testo-grassetto">
                    Aggiornamento dati
                </div>
                <div class="card-body text-secondary">
                    Vuoi aggiornare i dati?
                    <br><br><button type="button" class="btn btn-block btn-secondary btn-sm" (click)="aggiornaDati();">Aggiorna dati</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center border border-secondary altezza-card mt-3" style="width: 100%;">
                <div class="card-header sfondo-grigio-chiaro testo-bianco testo-grassetto">
                    Logout
                </div>
                <div class="card-body text-secondary">
                    Sei sicuro di voler far il logout? Sarai obbligato a reinserire le credenziali
                    <br><br><button type="button" class="btn btn-block btn-secondary btn-sm" (click)="logout();">Effettua logout</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center border border-secondary altezza-card mt-3" style="width: 100%;">
                <div class="card-header sfondo-grigio-chiaro testo-bianco testo-grassetto">
                    Gestione errori
                </div>
                <div class="card-body">
                    <div *ngIf="dettagliErrore.getMessage()" id="alertnuovoerrore" class="alert alert-secondary alert-dismissible fade show mt-3 ml-3 mr-3" role="alert">
                        <strong>Messaggio: </strong>{{dettagliErrore.getMessage()}}<br>
                        <strong>Reason: </strong>{{dettagliErrore.getReason()}}
                        <button type="button" class="close" aria-label="Close" (click)="dettagliErrore.setMessage('');dettagliErrore.setReason('')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center border border-secondary altezza-card mt-3" style="width: 100%;">
                <div class="card-header sfondo-grigio-chiaro testo-bianco testo-grassetto">
                    Implementazione futura
                </div>
                <div class="card-body text-secondary">
                    Funzionalita extra
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center border border-secondary altezza-card mt-3" style="width: 100%;">
                <div class="card-header sfondo-grigio-chiaro testo-bianco testo-grassetto">
                    Implementazione futura
                </div>
                <div class="card-body text-secondary">
                    Funzionalita extra
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<!--modal per la modifica di una singola inserzione-->
<div class="modal fade" id="modificainserzione" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title text">Modifica inserzione</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Utente">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="utentecreatoofferta" type="text" #inputLibro="ngModel" [(ngModel)]="utenteInserzioneCreata.username" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Libro">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="libro" type="text" #inputLibro="ngModel" [(ngModel)]="libro.nome" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Corso di studi">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="corsodistudi" type="text" #inputCorsoDiStudi="ngModel" [(ngModel)]="libro.corsoDiStudi" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Universita">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="universita" type="text" #inputUniversita="ngModel" [(ngModel)]="libro.universita" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Autore">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="autore" type="text" #inputAutore="ngModel" [(ngModel)]="libro.autore" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Anno di pubblicazione">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="annodipubblicazione" type="number" #inputAnnoDiPubblicazione="ngModel" [(ngModel)]="libro.annoPubblicazione" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Edizione">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="edizione" type="number" #inputEdizione="ngModel" [(ngModel)]="libro.edizione" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Isbn">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="isbn" type="text" #inputIsbn="ngModel" [(ngModel)]="libro.isbn" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Data inizio">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="datainizio" type="date" #inputDataInizio="ngModel" [(ngModel)]="inserzione.dataInizio" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Data fine">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="datafine" type="date" #inputDataFine="ngModel" [(ngModel)]="inserzione.dataFine" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Prezzo iniziale">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="prezzoiniziale" type="number" #inputPrezzoIniziale="ngModel" [(ngModel)]="inserzione.prezzoIniziale" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Prezzo attuale">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="prezzoattuale" type="number" #inputPrezzoAttuale="ngModel" [(ngModel)]="inserzione.prezzoAttuale" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Prezzo riserva">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="prezzoriserva" type="number" #inputPrezzoRiserva="ngModel" [(ngModel)]="inserzione.prezzoRiserva" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Utente prezzo attuale">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="utenteultimaofferta" type="text" #inputLibro="ngModel" [(ngModel)]="utenteInserzioneUltimaOfferta.username" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning" data-dismiss="modal" aria-label="Close" (click)="eliminaInserzione()">Elimina</button>
                <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Annulla</button>
                <button type="submit" class="btn btn-success" data-dismiss="modal" aria-label="Close" (click)="modificaInserzione()">Modifica</button>
            </div>
        </div>
    </div>
</div>

<!--modal per filtrare le inserzioni-->
<div class="modal fade" id="filtrareinserzioni" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title text">Filtraggio inserzione</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" method="GET">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3 mt-3 text-center">
                            <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Nome libro">
                        </div>
                        <div class="col-md-9 mt-3 text-center">
                            <input name="libro" type="text" #inputNomeLibro="ngModel" [(ngModel)]="filtraggioInserzioni.nomeLibro" class="form-control-plaintext text-center border border-secondary" value="" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mt-3 text-center">
                            <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Corso di studi">
                        </div>
                        <div class="col-md-9 mt-3 text-center">
                            <input name="corsodistudi" type="text" #inputCorsoDiStudi="ngModel" [(ngModel)]="filtraggioInserzioni.corsoDiStudi" class="form-control-plaintext text-center border border-secondary" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mt-3 text-center">
                            <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Universita">
                        </div>
                        <div class="col-md-9 mt-3 text-center">
                            <input name="universita" type="text" #inputUniversita="ngModel" [(ngModel)]="filtraggioInserzioni.universita" class="form-control-plaintext text-center border border-secondary" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mt-3 text-center">
                            <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Area gerografica">
                        </div>
                        <div class="col-md-9 mt-3 text-center">
                            <input name="areaGeografica" type="text" #inputAreaGeografica="ngModel" [(ngModel)]="filtraggioInserzioni.areaGeografica" class="form-control-plaintext text-center border border-secondary" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mt-3 text-center">
                            <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Utente (venditore e ultima offerta)">
                        </div>
                        <div class="col-md-9 mt-3 text-center">
                            <input name="venditore" type="text" #inputVenditore="ngModel" [(ngModel)]="filtraggioInserzioni.venditore" class="form-control-plaintext text-center border border-secondary" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mt-3 text-center">
                            <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Prezzo attuale minimo">
                        </div>
                        <div class="col-md-9 mt-3 text-center">
                            <input name="prezzoMinimo" type="number" #inputPrezzoMinimo="ngModel" [(ngModel)]="filtraggioInserzioni.prezzoAttualeMinimo" class="form-control-plaintext text-center border border-secondary" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mt-3 text-center">
                            <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Prezzo attuale massimo">
                        </div>
                        <div class="col-md-9 mt-3 text-center">
                            <input name="prezzoMassimo" type="number" #inputPrezzoMassimo="ngModel" [(ngModel)]="filtraggioInserzioni.prezzoAttualeMassimo" class="form-control-plaintext text-center border border-secondary" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Annulla</button>
                    <button type="submit" class="btn btn-success" (click)="filtraInserzioni();" (submit)="filtraInserzioni();" data-dismiss="modal" aria-label="Close">Filtra</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--modal per inserire un nuovo moderatore-->
<div class="modal fade" id="inserimentomoderatore" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title text">Inserimento nuovo moderatore</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Nome">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="nome" type="text" #inputNome="ngModel" [(ngModel)]="moderatore.nome" class="form-control-plaintext text-center border border-secondary" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Cognome">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="cognome" type="text" #inputCognome="ngModel" [(ngModel)]="moderatore.cognome" class="form-control-plaintext text-center border border-secondary" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Username">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="username" type="text" #inputUsername="ngModel" [(ngModel)]="moderatore.username" class="form-control-plaintext text-center border border-secondary" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Email">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="email" type="text" #inputEmail="ngModel" [(ngModel)]="moderatore.email" class="form-control-plaintext text-center border border-secondary" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3 text-center">
                        <input type="text" readonly class="form-control-plaintext text-center border border-light" value="Area geografica">
                    </div>
                    <div class="col-md-9 mt-3 text-center">
                        <input name="areaGeografica" type="text" #inputVenditore="ngModel" [(ngModel)]="moderatore.areaGeografica" class="form-control-plaintext text-center border border-secondary" value="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Annulla</button>
                <button type="submit" class="btn btn-success" (click)="inserisciModeratore();" (submit)="inserisciModeratore();" data-dismiss="modal" aria-label="Close">Inserisci</button>
            </div>
        </div>
    </div>
</div>