<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h2>
                <p class="card-title paragrafo-centrato text-secondary">Modifica password</p>
            </h2>
            <br>
            <form>
                <div class="form-group">
                    <input type="password" id="password" name="password" #inputPassword="ngModel" [(ngModel)]="u.password" class="form-control sfondo-grigio" placeholder="Password" value="" required>
                </div>
                <div [hidden]="inputPassword.valid||inputPassword.pristine" class="alert alert-danger">
                    Password non valida
                </div>
                <div class="form-group">
                    <input type="password" id="confermaPassword" name="confermaPassword" #inputConfermaPassword="ngModel" [(ngModel)]="u.confermaPassword" class="form-control sfondo-grigio" placeholder="Conferma password" value="" required>
                </div>
                <div [hidden]="inputConfermaPassword.valid||inputConfermaPassword.pristine" class="alert alert-danger">
                    Conferma password non valida
                </div>
                <div *ngIf="messaggioErrore" class="alert alert-danger" role="alert">
                    {{messaggioErrore}}
                </div>
                <div *ngIf="messaggioConferma" class="alert alert-success" role="alert">
                    {{messaggioConferma}}
                </div>
                <div *ngIf="messaggio" class="alert alert-primary" role="alert">
                    {{messaggio}}
                </div>
                <button type="submit" class="btn btn-lg btn-block sfondo-grigio-chiaro" [disabled]="!inputPassword.valid||!inputConfermaPassword.valid" (click)="cambiaPassword();" (submit)="cambiaPassword();">Cambia password</button>
            </form><br>
            <div class="paragrafo-centrato testo-grigio">
                Hai gia un account? <a routerLink="/login">Accedi</a><br> Non hai ancora un account? <a routerLink="/registrazione">Registrati</a><br>
            </div>
        </div>
    </div>
</div>